@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    padding-right: 87px;
    span {
        color: $red;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.header__btn-login {
    background-color: $green;
}
.header__btn-login--off {
    display: none;
}
.header__btn-logout {
    display: none;
    &.header__btn-login--on {
        display: block;
    }
}
.header__btn-register, .header__btn-logout {
    background-color: $red;
    margin-left: 7px;
}
.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
    &__list {
        li {
         display: inline-block;
    & +li {
        margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}
}

.header__circle {
    display: none;
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    position: relative;
    &.active {
        display: block;
    }
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span {
        position: absolute;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;
    }
}
.header__box {
    display: flex;
    align-items: center;
}

.notification {
    span {
    background-color: $yellow;
    }
}
.message {
    span {
    background-color: $tomato;
    }
}
.basket {
    margin-right: 20px;
    span {
    background-color: $green;       
    }
}
.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before {
        content: "\f107";
        position: absolute;
        font-family: 'icomoon';
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 0;
        width: 10px;
        height: 10px;
    }
   &__inner {
       display: flex;
       align-items: center;
   }
   &__images {
       margin-right: 15px;
       width: 34px;
       height: 34px;
       overflow: hidden;
       border-radius: 50%;
   }
   &__info {
    font-size: 14px; 
    line-height: 24px;
   }
   &__name {
    @include f500;
    color: #222222;
   }
   &__money {
    color: $green;
    @include f700;
    }
}
.user__box, 
.basket__box, 
.notification__box, 
.message__box {
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover {
        .user__menu {
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
            }
    }
}

.user__menu {
    border: solid 0px #cccccc;
    position: absolute;
    background-color: #fff;
    padding: 0px 20px;
    width: 115px;
    top: 69px;
    left: 20px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    a {
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}
.basket__box,
.notification__box, 
.message__box {
    margin-top: 54px;
    margin-left: 15px;
    &:hover {
        .header__circle::before {
            color: $bg;
        }
        .circle__menu {
            overflow: hidden;
            height: auto;
        }
        .circle__item {
            padding: 23px 23px;
            border-width: 1px;
    
        }
    }
}
.circle__menu {
    position: absolute;
    top: 52px;
    right: 0;
    height: 0;
    overflow: hidden;
    z-index: 1;
}
.circle__item {
    background-color: #fff;
    border: solid 0px #cccccc;
    border-top: none;
    padding: 0 23px;
    display: flex;
    align-items: center;
    width: 268px;
    position: relative;
    font-family: 'Roboto-Regular', sans-serif;
    transition: all .3s;
    border-top: solid 0.2px #cccccc;
    &::before {
        position: absolute;
        top: 28px;
        right: 30px;
    }
}
.circle__images {
    margin-right: 15px;
}
.circle__info {
    &-name {
    color: $bg;
    @include f500;
    }
    &-theme {
    font-size: 12px;
    color: $green;
    }
    &-price {
    color: #000000;
    font-size: 16px;
    @include f500;
    }
    &-date {
        color: #707070;
        font-size: 10px;
    }
}
.basket__summ {
    padding: 17px 17px 12px;
    border: solid 0.2px #cccccc;
    border-top: none;
    background-color: #fff;
    &-title {
        display: flex;
        justify-content: space-between;
        @include f700;
        font-size: 16px;
        color: $bg;
        padding-left: 13px;
        padding-right: 22px;
        margin-bottom: 15px;
    }
}
.basket__btn {
    width: 100px;
    margin-left: 17px;
    background-color: $green;
    color: #fff;
    @include f700;
    font-size: 14px;
    padding: 12px 5px;
    text-align: center;
    &-checkout {
        width: 123px;
        background-color: #e85647;
        margin-left: 6px;
    }
}
.notification__menu,
.message__menu {
    .circle__images {
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .circle__info {
        line-height: 18px;
    }
}
.icons-color::before {
    color: $tomato;
}
.header__btn-menu, 
.menu__btn {
    display: none;
}

// end header

// start modal
#modal {
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding-top: 92px;
    padding-bottom: 100px;
}
.login__title {
    text-align: center;
    font-size: 48px;
    @include f700;
    color: #fff;
    line-height: 36px;
    margin-bottom: 40px;
}
.login__wrapper {
    form {
        max-width: 400px;
        margin: 0 auto;
    }
    label {
        position: relative;
        display: block;
        width: 100%;
        &::before {
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 14px;
            left: 18px;
            top: 10px;
        }
    }
    .login_label-name::before {
        content: "\f007";
    }
    .login_label-pass::before {
        content: "\f023";
    }
    input {
        outline: none;
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        padding-left: 40px;
        display: block;
        width: 100%;
        &::placeholder {
            color: #fff;
            font-size: 14px;
        }
    }
    button {
        margin-top: 19px;
        padding: 18px 0 16px;
        background-color: #fff;
        width: 140px;
        text-transform: uppercase;
        margin-right: 10px;
        border: none;
        @include f700;
        color: #000;
        text-align: center;
        box-shadow: 0px 2px 2px 0 rgba(118, 174, 54, 0.75);
    }
}
.lost-pass {
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}
.create-acc {
    margin-top: 19px;
    padding: 14px 0 14px 28px;
    text-align: center;
    width: 245px;
    background-color: #76ae36;
    color: #fff;
    font-size: 18px;
    position: relative;
    &::before {
        content: "\f044";
        color: #fff;
        position: absolute;
        left: 30px;
        top: 15px;
        font-family: 'icomoon';
    }
}
.fancybox-button svg path {
    color: #fff;

}
// end modal
// start search
.breadcrumbs {
    background-color: #f4f6f5;
    padding-top: 49px;
    padding-bottom: 43px;
    &__list {
        li {
            display: inline-block;
            padding-right: 22px;
            a {
            font-size: 15px;
            color: #b0bec5;
            }

        }
    }
}

.search {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 532px;
}
.search__inner {
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        margin-bottom: 10px;
       font-size: 48px;
       @include f700;
       line-height: 72px;
    }
    &-text {
    margin-bottom: 54px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
    }
    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            border-radius: 4px;
            height: 56px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
             &::placeholder {
                 color: #90a4ae;
                 @include f500;
             }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 0px;
            top: 16px;
        }
    }
}
// end search

// start products
.products {
    padding: 121px 0px;
    background-color: $grey;

}
.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 6px;
        }
        &:focus{
            outline: none;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0 rgba(205, 214, 222, 0.75);
    margin-bottom: 32px;
    &-img{
      min-height: 250px;
     background-repeat: no-repeat;
     display: block;
     background-position: center;
     background-size: cover;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 32px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
        &-name {
        max-width: 310px;
        }
        &-title {
        font-size: 18px;
        color: $bg;  
        display: block;
        }
    &-category {
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 13px;
        }
        span {
         font-size: 14px;
         @include f500;   
         }
    }
    &-star {
        font-size: 12px;
       span {
           color: $bg;
       } 
    }
}

.products__bottom-btn {
    text-align: center;

    button {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0 rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}
// end products

// start product-slider
.product-slider{
    padding: 110px 0px 120px;
    .slick-slide {
        padding: 0 15px;
    }
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            display: inline-block;
            margin-left: 4px;
            margin-right: 3px;
            &.slick-active{
                button{
                background-color: $green; 
                }
            }

            button{
                border-radius: 50%;
                border: none;
                width: 16px;
                height: 16px;
                font-size: 0;
                cursor: pointer;
                outline: none;
            }
        }
    }
    
}
    
// end product-slider
// start advantages
.advantages {
    background-color: $bg;
    padding: 124px 0px;
}

.advantages__title {
    color: #fff;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
}
.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    
    &:hover {
        .advantages__item-icon{
            transition: all .5s;
            background-color: $green;
        }
        .advantages__item-title{
            transition: all .5s;
            color: $green;
        }
        .advantages__item-icon {
            g{
                fill: #fff
            }
        }
    }
        &-icon {
        width: 113px;
        height: 113px;
        border-radius: 50%;
        background-color: #fff;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        }
            &-title {
                margin-bottom: 25px;
                color: #fff;
                @include f500;
                font-size: 24px;
            }
                &-text {
                    font-size: 14px;    
                }
}
.iconsvg1{
    display: flex;
    justify-content: center;
    svg{
    width: 50px;
    height: 66px;
    }
}
.iconsvg2{
    svg{
        width: 71px;
         height: 73px;
        }
}
.iconsvg3{
    svg{
        width: 85px;
         height: 75px;
        }
}
// end advantages

//start author
.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 705px;
    display: flex;
    justify-content: center;
    align-items: center;
        &__box {
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 650px;
        width: 100%;
        min-height: 216px;   
        }
            &__title {
            margin-right: 45px;
            max-width: 260px;
            font-size: 30px;
            line-height: 36px;
            color: #fff;
            span {
                @include f700;
            }
            }
                &__link {
                    width: 225px;
                    height: 63px;
                    background-color: #fff;
                    color: $bg;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 18px;
                    line-height: 36px;
                    &:hover {
                        background-color: $grey;
                        transition: all .5s;
                        color: $green
                      }
                }
}
//end author

//start tutorial

.tutorial { 
    &__title {
        margin-top: 66px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    } 
    &__product {
        margin-top: 57px;
    }
    &__image {
        width: 370px;
        height: 270px;
    }
    &__text {
        @include f700;
        text-align: center;
        background-color: $grey;
        color: $bg;
        font-size: 24px;
        line-height: 19px;
        padding: 39px 0; 

    }
}
//end tutorial

//start footer
.footer {
    background-color: $bg;
    margin-top: 121px;
    padding-top: 116px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 22px;
        line-height: 24px;
        @include f700;
        color: #fff;
            &::after {
            content: '';
            background-color: $green;
            width: 51px;
            height: 3px;
            display: block;
            margin-top: 23px;
            }
            &.form-title {
                margin-top: 41px;
                &::after {
                    display: none;
                }
            }
    }
    &__text {
        width: 261px;
        font-size: 15px;
        line-height: 24px;
        margin-top: 32px;
        @include f500;
        color: #b7c3c8;
        @media screen and (max-width: 1150px) {
            width: auto;
         }
    }
    &__contact  {
    font-size: 14px;
    line-height: 24px;
    color:#fff;
    display: block;
    width: 213px;
    margin-top: 36px;
    position: relative;
    left: 19px;
    @media screen and (max-width: 1150px) {
        width: auto;
     }
        &.adress::before, &.number:before {
            position: absolute;
            color: $green;
            font-family: 'icomoon';
            left: -19px;
            font-size: 16px;
            line-height: 24px;
        }
        &.adress:before {
        content: "\f041";
        }
        &.number:before {
            content: "\f095";
          } 
    }
    &__links {
    font-size: 15px;
    line-height: 36px;
    @include f500;
        ul {
        margin-top: 34px;
        position: relative;
            li {
                a {
                    color: #b7c3c8;
                }
            }
        }
    }
    &__social {
        margin-top: 35px;
        display: inline-block;
        a img {
        width: 28px;
        height: 28px;
        margin-right: 6px;
        }
    }
    &__bottom {
        margin-top: 99px;
        min-height: 73px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid;
        border-color: #424d53;
        line-height: 36px;
    }
    &__form {
        margin-top: 18px;
        position: relative;
        input[type=email]{
        width: 261px;
        height: 40px;
        padding: 1px 1px 1px 16px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to bottom, #000000, #263238);
        border-image-slice: 1;
        background-color: #2f3c43;
        }
        input[type=button]{
            position: absolute;
            width: 43px;
            height: 100%;
            background-color: $green;
            bottom: 0;
            right: 0;
            border: none;
        }
        .send-icon {
            position: absolute;
            width: 16px;
            height: 17px;
            bottom: 23px;
            right: 14px;
            &.icon-location-arrow::before {
                content: "\f124";
                position: absolute;
                color: #fff;
                font-size: 20px;
                line-height: 36px;
            }
        }
    }
}
//end footer
//start product-one
.product-one{
    padding-bottom: 100px;
    background-color: #f4f6f5;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-content: stretch;
    }
    &__content {
        margin-right: 31px;
        max-width: 870px;
    }
    &__images {
    max-width: 829px;
    height: 422px;
    width: 100%;
    background-image: url(images/content/product.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        &-inner {
        background-color: #fff;
        border: 1px solid #dcdcdc;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        }
    }
    &__title {
        font-size: 30px;
        color: $bg;
        line-height: 40px;
        @include f500;
        margin-top: 39px;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        color: #707070;
        margin-bottom: 35px;
        margin-top: 20px;

    }
    &__box {
        margin-bottom: 55px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__link {
        a {
        padding: 16px 8px;
        width: 150px;
        color: $grey;
        font-size: 14px;
        & + a {
            margin-left: 20px;
            }
        }   
    }
    &__aside {
        flex: 1;
    }
    &__social {
        a {
            width: 54px;
            height: 50px;
            position: relative;
                & + a {
                margin-right: 3px;
                }
            &::before{
                color: #fff;
                font-size: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    &__more {
        margin-top: 55px;
    }
    &__more-title {
        font-size: 18px;
        @include f500;
        color: $bg;
        padding: 18px 25px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        margin-bottom: 28px;
    }
    &__more-icons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.productmini {
    margin-bottom: 27px;
    display: flex;
    height: 90px;
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 1px 2px 0 rgba(205, 214, 222, 0.75);
    &__images {
        width: 100px;
        height: 90px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__name {
        font-size: 14px;
        @include f500;
        font-size: 14px;
        color: $bg;
    }
    &__theme {
        color: $green;
        font-size: 12px;
        
    }
    &__price {
        @include f700;
        color: $bg;
        font-size: 18px;
    }
    &__tabs {
        margin-bottom: 55px;
    }
}
.tabs {
    display: flex;
    text-align: center;
    border: 0.2px solid #d7d7d7;
    .tab {
        width: 100%;
        background-color: #fff;
        font-size: 16px;
        color: #70838d;
        padding: 20px 0;
        cursor: pointer;
        & + .tab {
            border: 0.2px solid #d7d7d7;
        }
    }
}
.tab_content {
    background-color: #fff;
    border: 0.2px solid #d7d7d7;
    border-top: none;
    padding: 30px 30px 50px;
}
.tab-item {
    display: none;
    &:first-child {
        display: block;
    }
}
.tab-items__list {
    font-size: 16px;
    color: #707070;
    line-height: 36px;
    column-count: 2;
    column-gap: 25px;
    li {
        min-width: 270px;
        width: 100%;
    }
}
.icon {
    &-facebook {
        background-color: #6370b6;
    }
    &-twitter {
        background-color: #64b5f6;
        color: #fff;
    }
    &-linkedin2 {
       background-color: #4f71ce;
       color: #fff;
    }
    &-pinterest-p {
        background-color: #d32f2f;
        color: #fff;
    }
}
.link {
    &-live {
        background-color: $red;
    }
    &-screenshot {
        background-color: #455a64;
    }
    &-documentation {
        background-color: $green;
    }
}


.aside {
    &__item {
        background-color: #fff;
        max-width: 270px;
        width: 100%;
        border: solid 0.2px #d7d7d7;
        & + .aside__item {
            margin-top: 30px;
        }
        padding-bottom: 50px;
        &-sales {
            margin-left: 30px;
            padding-top: 23px;
            font-size: 16px;
            color: #707070;
            span {
                font-size: 20px;
                @include f700;
                color: #263238;
                padding-right: 13px;
                &::before {
                    content: "\f07a";
                    color: #a6b5bb;
                    padding-right: 20px;
                    font-family: 'icomoon';
                }
            }
        }
    }
    &__title {
        color:#263238;
        @include f700;
        padding-top: 26px;
        margin-left: 29px;
        font-size: 20px;
        position: relative;
        &::after {
            content: '';
            position: relative;
            display: block;
            width: 208px;
            height: 1px;
            margin-top: 23px;
            background-color: #dde3e8;
            }
        }
}
.aside__item.sales-number {
    padding-bottom: 25px;
}
.price__box {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}
.price__product {
    font-size: 22px;
    @include f500;
    color: $red;
}
.product__price {
    button {
        box-shadow: 0px 1px 2px 0 rgba(69, 90, 100, 0.75);
        border: none;
        background-color: $text;
        color: #fff;
        font-size: 16px;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 700;
        text-align: center;
        display: block;
        padding: 18px 5px 15px;
        width: 100%;
        max-width: 208px;
        margin: 0px auto 7px;
        cursor: pointer;
        &::before {
            font-weight: 400;
            font-family: 'icomoon';
            padding-right: 8px;
        }
    }
    .icon {
        &-shopping-cart{
            background-color: $green;
            
        }
        &-heart-o {
            background-color:#42a5f5;
        }
    }
}
.product-author__box {
    padding: 25px 0;
    margin-left: 30px;
    display: flex;
}
.author {
    &__avatar {
    margin-right: 14px;
    }
    &__name {
        font-size: 18px;
        color: $bg;
        margin-bottom: 2px;
    }
    &__info {
        &-link {
            color: #707070;
            font-size: 13px;
            border: solid 0.2px #cccccc;
            padding: 6px 9px 5px;
        }
    }
    &__awards {
        &-list {
            margin-left: 30px;
            li {
                display: inline-block;
                color: #fff;
                font-size: 20px;
                text-align: center;
                position: relative;
                &::before {
                    position: absolute;
                    top: 6px;
                    left: 0;
                    right: 0;
                }
                & + li {
                    margin-left: 8px;
                }
            
            }
        }
    }
}
.icon-meh-o {
    background-image: url(../images/awards/orange.png);
    width: 34px;
    height: 34px;
}
.icon-pagelines {
    background-image: url(../images/awards/red.png);
    width: 34px;
    height: 34px;
}
.icon-flash {
    background-image:  url(../images/awards/blue.png);
    width: 34px;
    height: 34px;
}
.icon-foursquare {
    background-image: url(../images/awards/green.png);
    width: 34px;
    height: 34px;
}
.icon-yen {
    background-image:    url(../images/awards/gray.png);
    width: 34px;
    height: 34px;
}

.information__line {
    margin-top: 24px;
    margin-left: 30px;
    font-size: 14px;
    color: #70838d;
    line-height: 18px;
    & + .information__line {
        margin-top: 20px;
    }
    span {
        color: #263238;
        @include  f500;
    }
}

   
//end product-one












@import 'media';